[Unit]
Description=Volumio Time Sync Watchdog Timer

[Timer]
OnBootSec=60s
OnUnitActiveSec=10m
Unit=setdatetime-helper.service

[Install]
WantedBy=timers.target
