[Unit]
Description=Time Synchronization Helper Service
After=network.target dhcpcd.service
Wants=network.target
ConditionPathExists=/usr/bin/setdatetime-helper.sh

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/setdatetime-helper.sh || true"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
