[Unit]
Description=Volumio Time Sync Watchdog Timer

[Timer]
OnBootSec=30s
OnUnitActiveSec=1m
Unit=setdatetime-helper.timer.service

[Install]
WantedBy=timers.target
