[Unit]
Description=Late rebind of input devices to triggerhappy
After=triggerhappy.service
Wants=triggerhappy.service

[Service]
Type=oneshot
ExecStart=/bin/th-udev-rebind.sh

[Install]
WantedBy=multi-user.target
