[Unit]
Description=UPnP Renderer front-end to MPD
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/upmpdcli -c /tmp/upmpdcli.conf
User=volumio
Group=volumio
Restart=always
RestartSec=15s
TimeoutStopSec=10
TimeoutStartFailureMode=terminate
TimeoutStopFailureMode=terminate

[Install]
WantedBy=multi-user.target
