[Unit]
Description=Manage nl80211 modules blocking state
Before=network.target dhcpcd.service hostapd.service
After=systemd-udevd.service systemd-rfkill.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/volumio_rfkill_unblock.sh

[Install]
WantedBy=multi-user.target
